<!-- Bogota's weather table -->

<h2 align="center"> 🇨🇴 Bogota's Weather ⛅ </h2>
<table align="center" style="width:50%">
    <tr style="text-align:center">
        <th>Weather</th>
        <th>Temperature</th>
        <th>Sunrise</th>
        <th>Sunset</th>
        <th>Humidity</th>
    </tr>
    <tr style="text-align:center">
        <td><b>{{city_weather}}</b><img width="15" src={{weather_icon}}></td>
        <td><b>{{city_temperature}}°C</b></td>
        <td><b>{{sun_rise}}</b></td>
        <td><b>{{sun_set}}</b></td>
        <td><b>{{humidity}}%</b></td>
    </tr>
</table>
